:root {
    /*Color principal: Menú, títulos y botones*/
    --colorRojo: #E63946;
    
    /*Fondo principal de la página*/
    --colorBlanco: #FFFFFF;
    
    /*Color para diferenciar bloques (fondos secundarios)*/
    --colorGrisClaro: #F5F5F5;
    
    /*Color de texto para párrafos*/
    --colorNegroSuave: #292727;
    
    /*Colores para validaciones y alertas*/
    --colorVerde: #06D6A0;
    --colorAmarillo: #FFD166;
}

/*Para toda la página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colorBlanco);
}

/*Contenedor del grid*/
.div-container {
    display: grid;
    grid-template-rows: auto auto 2fr auto;
    min-height: 100vh;
}

/*Estilos del header*/
.header {
    background-color: var(--colorNegroSuave);
    padding: 15px;
}

.contenedor-header {
    display: flex;
    align-items: center;
}

.logo img {
    width: 10%;
    overflow: hidden;
    transition: transform 1s;
}

.logo:hover img {
    transform: rotate(360deg);
}

.titulo h1{
    color: var(--colorBlanco);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

/*Estilos del nav*/
.menu {
    background-color: var(--colorRojo); 
    padding: 15px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.menu ul {
    list-style: none; 
    display: flex;
    gap: 40px; 
}

.menu ul li a {
    text-decoration: none;
    color: var(--colorBlanco); 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu ul li a.activo {
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.3);
}

/*Estilos del main*/
.main {
    background-color: var(--colorBlanco);
}

.bienvenida {
    padding: 80px; 
    text-align: center;
    background-color: var(--colorBlanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bienvenida h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    font-size: 36px;
    color: var(--colorNegroSuave);
    margin-bottom: 20px;
}

.bienvenida p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--colorNegroSuave);
    line-height: 1.6;
    max-width: 800px;
}

.boton-rojo {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: var(--colorRojo);
    color: var(--colorBlanco);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boton-rojo:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

/*Estilos del footer*/
.footer {
    background-color: var(--colorNegroSuave);
    color: var(--colorBlanco);
    padding: 30px;
}

.contenedor-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
}

.copyright p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.redes-sociales, .enlaces-rapidos {
    display: flex;
    gap: 30px;
}

.footer a {
    text-decoration: none;
    color: var(--colorBlanco);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--colorRojo);
}